$branco: rgb(255, 255, 255)
$preto: rgb(0, 0, 0)

$azul: rgb(74, 136, 197)
$azulSubmenu: rgb(55, 136, 199)
$azulClaroRodape: rgb(131, 141, 177)
$azulClaroBusca: rgb(155, 162, 191)
$azulClaroBuscaLupa: rgb(171, 178, 204)
$azulEscuroRodape: rgb(100, 113, 166)
$azulBuscaLupa: rgb(122, 228, 254)
$azulEvento: rgb(0, 180, 255)

$cinzaTextoBuscaTopo: rgb(130, 130, 130)
$cinzaDestaques: rgb(55, 65, 77)
$cinzaDestCentral: rgb(82, 96, 109)
$cinzaTituloBox: rgb(128, 128, 128)
$cinzaTituloMat: rgb(88, 88, 88)
$cinzaResumoMateria: rgb(77, 77, 77)
$cinzaLinhaResumoMateria: rgb(222, 222, 222)
$cinzaEscuroLateral: rgb(52, 52, 52)
$cinzaBGChamadas: rgb(240, 240, 240)
$cinzaBGDestaquesLateral: rgb(230, 230, 230)
$cinzaBotaoApagar: rgb(215, 215, 215)
$cinzaLegandaNoticia: rgb(144, 144, 144)
$cinzaLinhaChamadas: rgb(195, 195, 195)

$roxoTituloMateria: rgb(129, 133, 171)

$vermelho: rgb(255, 0, 0)

$laranjaBrasil: rgb(255, 106, 6)

$verdeMeioAmb: rgb(56, 206, 55)
$verdeEvento: rgb(150, 255, 0)

$rosaTecnologia: rgb(255, 7, 254)
$rosaEvento: rgb(255, 153, 255)

$amareloEvento: rgb(255, 255, 0)