@import "reset.sass"
@import "cores.sass"
@import "tipografia.sass"

$tamanhoLayout: 1000px
$areaUtilLayout: 950px

body
  background-image: url("../imagens/sombra-body.png"), url("../imagens/background-body.jpg")
  background-repeat: no-repeat, repeat-x
  background-position: -5px -5px, 50% 0
  background-size: 103% 306px, auto auto
  font-family: Gotham, Arial, sans-serif

.layout
  width: 100%
  margin: 0 auto
  overflow: hidden

  header
    width: 100%
    background: url("../imagens/background-menu.png") 50% 100% no-repeat
    float: left

    .conteudo-header
      width: $tamanhoLayout
      margin: 0 auto
      margin-top: 15px

      .facebook
        width: $areaUtilLayout
        margin: 0 0 15px 0
        float: left

        .fb-botao
          width: 200px
          height: 30px
          float: right
          background: $azulSubmenu

      a
        .logotipo
          width: 170px
          height: 75px
          margin: 0 60px 0 0
          background: url("../imagens/sprite.png") no-repeat -5px -92px
          float: left

      .publicidade-topo
        margin: 0 0 25px 0
        float: left

        a
          .imagem
            width: 730px
            height: 100px
            border-radius: 20px
            background: $cinzaTituloMat

      .topo
        width: $tamanhoLayout
        height: 30px
        font-size: 14px
        letter-spacing: 0.5px
        text-transform: uppercase
        font-weight: bold
        color: $branco
        float: left

        .categorias
          padding: 8px 10px 8px 23px

          .lista-categorias
            display: none

            .cidade,
            .politica
              height: 170px
              border-right: 2px solid $azulSubmenu


            .politica,
            .e-mais
              border-left: 3px solid $branco

            .cidade,
            .politica,
            .e-mais
              float: left

              .header
                font-size: 16px
                padding: 30px 10px 0 43px
                background: $azulSubmenu

              .lista
                ul
                  li
                    padding: 5px 10px 5px 23px
                    margin: 2px 0 0 20px

                    a
                      font-size: 14px
                      color: $cinzaTituloBox
                      text-decoration: none

                  li:hover
                    background: $azulSubmenu

                    a
                      cursor: pointer
                      color: $branco

            .e-mais
              .lista
                ul
                  float: left

        .categorias:hover
          .lista-categorias
            z-index: 1
            position: absolute
            margin: 15px 0 0 -23px
            background: $branco
            box-shadow: -2px 8px 8px transparentize($preto, 0.8)
            display: block

        .revista,
        .jornal
          .ver-revista,
          .ver-jornal
            display: none

          .embed
            width: 200px
            height: 230px

            iframe
              width: 200px
              height: 230px
              border-radius: 5px

          .ver-todas,
          .ver-todos
            margin: 10px 0 0

            a
              text-decoration: none
              color: $branco
              cursor: pointer

        .revista:hover,
        .jornal:hover
          .ver-revista,
          .ver-jornal
            z-index: 1
            margin: 15px 0 0 -15px
            padding: 10px 10px 3px 10px
            background: $azulSubmenu
            position: absolute
            box-shadow: -2px 8px 8px transparentize($preto, 0.8)
            display: block

        .entretenimento
          padding: 8px 15px

        .previsao-do-tempo
          padding: 8px

        .busca
          padding: 8px 25px

        .revista,
        .jornal,
          padding: 8px 15px

        .empresas
          padding: 8px 21px

        .categorias,
        .entretenimento,
        .previsao-do-tempo,
        .busca,
        .revista,
        .jornal,
        .empresas
          float: left

          .header
            cursor: pointer

            .titulo
              float: left

          .seta
            width: 8px
            height: 5px
            background: url("../imagens/sprite.png") no-repeat -139px -195px
            margin: 3px 0 0 5px
            float: left

        .busca
          .icone
            width: 16px
            height: 16px
            background: url("../imagens/sprite.png") no-repeat -113px -189px
            float: left

          .formulario-busca
            display: none

        .previsao-do-tempo
          .icone
            width: 20px
            height: 20px
            background: url("../imagens/sol.png") no-repeat 0 0
            background-size: 20px 20px
            margin: -3px 5px 0
            float: left

          .temperatura,
          .localidade
            float: left

          .temperatura
            margin: 0 5px 0

        .empresas
          .header
            .icone
              width: 17px
              height: 17px
              background: url("../imagens/sprite.png") no-repeat -5px -5px
              margin: -2px 7px 0
              float: left

          .formulario-busca-empresas
            display: none

        .categorias:hover,
        .entretenimento:hover,
        .revista:hover,
        .jornal:hover,
        .empresas:hover
          cursor: pointer
          background: $azulSubmenu

  .homepage-noticias
    width: 100%
    margin: 0 0 20px
    float: left

    .conteudo
      width: $tamanhoLayout
      margin: 0 auto

      .noticias
        background: $branco
        padding: 25px 25px 0
        float: left

        .box-com-1,
        .box-com-2,
        .box-com-3
          width: 302px
          height: auto
          margin: 0 22px 0 0
          float: left

          a
            text-decoration: none

            .noticia
              width: 302px
              height: 150px
              margin: 0 0 22px 0
              background: $azul

              .imagem
                width: 302px
                height: 150px
                overflow: hidden

                img
                  width: 302px
                  height: auto

              .informacoes
                position: relative
                color: $branco
                margin: -69px 0 0
                z-index: 0

                .marca
                  margin: 0 0 5px

                  span
                    width: auto
                    text-transform: uppercase
                    font-size: 14px
                    padding: 5px 5px 5px 15px
                    background: $azul

                .titulo
                  overflow: hidden

                  h2
                    font-size: 20px
                    line-height: 24px
                    padding: 0 0 0 15px

                    span
                      padding: 3px 10px 5px 0
                      box-shadow: 15px 0 0 $cinzaDestaques, -15px 0 0 $cinzaDestaques
                      background: $cinzaDestaques

          a
            .noticia:hover
              cursor: pointer

              .informacoes
                .titulo
                  span
                    box-shadow: 15px 0 0 $cinzaDestCentral, -15px 0 0 $cinzaDestCentral
                    background: $cinzaDestCentral

        .box-com-1
          a
            .noticia
              height: 554px

              .imagem
                width: 302px
                height: 554px
                overflow: hidden

                img
                  width: auto
                  height: 554px

              .informacoes
                margin: -155px 0 0 0

                .marca
                  margin-bottom: 15px

                  span
                    font-size: 16px

                .titulo
                  h2
                    span
                      box-shadow: 15px 0 0 $cinzaDestCentral, -15px 0 0 $cinzaDestCentral
                      background: $cinzaDestCentral
                      font-size: 28px
                      line-height: 31px

            .noticia:hover
              .informacoes
                .titulo
                  span
                    box-shadow: 15px 0 0 $cinzaDestaques, -15px 0 0 $cinzaDestaques
                    background: $cinzaDestaques

        .box-com-2
          margin-right: 0

          a
            .noticia
              height: 266px

              .imagem
                width: 302px
                height: 266px
                overflow: hidden

                img
                  width: auto
                  height: 266px

        .box-com-3
          a:nth-child(2),
          a:nth-child(3)
            .noticia
              height: 180px

              .imagem
                width: 302px
                height: 180px
                overflow: hidden

      .outros-destaques
        width: $areaUtilLayout
        padding: 0 25px 0 25px
        float: left

        .header-outros-destaques
          width: $areaUtilLayout
          margin: 20px 0 40px 0
          background: url("../imagens/background-titulo-secao.jpg") repeat-x -70% 0

          h1
            font-size: 18px
            text-transform: uppercase
            text-align: center
            color: $cinzaTituloBox

            span
              background: $branco
              box-shadow: 10px 0 0 $branco, -10px 0 0 $branco

              strong
                font-weight: bold

        .box-com-destaques
          width: 617px
          margin: 0 0 20px 0
          float: left

          .destaque
            width: 620px
            height: 135px
            margin: 0 0 15px 0
            float: left

            .imagem
              width: 302px
              height: 135px
              margin: 0 15px 0 0
              overflow: hidden
              border-radius: 15px
              background: $preto
              float: left

              img
                width: 302px
                height: auto

            .categoria
              font-size: 18px
              text-transform: uppercase
              color: $cinzaTituloBox
              margin: 15px 0 5px 0

              strong
                font-weight: bold

            .decoracao
              width: 300px
              margin: 0 0 20px 0
              float: left

              .linha-grossa
                width: 85px
                height: 3px
                background: $azul
                float: left

              .linha-fina
                width: 215px
                height: 1px
                margin: 1px 0 0 0
                background: $cinzaTituloMat
                float: left

            .titulo
              width: 280px
              font-size: 20px
              color: $cinzaTituloMat
              float: left

          .destaque:hover
            .titulo
              text-decoration: underline

        .publicidade-destaques
          width: 302px
          height: 285px
          margin: 0 0 0 31px
          float: left

          a
            width: 302px
            height: 285px
            background: $cinzaTituloMat
            float: left

        .sombra
          width: 720px
          height: 50px
          background: url("../imagens/sombra-inferior.jpg") no-repeat 50% 0
          float: left

      .midias
        width: $areaUtilLayout
        margin: 0 0 20px 0
        padding: 0 25px 0 25px
        float: left

        .f-e-f-pub
          width: 720px
          float: left

          .fatos-e-fotos
            .header-fatos-e-fotos
              width: 720px
              margin: 0px 0 40px 0
              background: url("../imagens/background-titulo-secao.jpg") repeat-x

              h1
                font-size: 18px
                text-transform: uppercase
                text-align: center
                color: $cinzaTituloBox

                span
                  background: $branco
                  box-shadow: 10px 0 0 $branco, -10px 0 0 $branco

                  strong
                    font-weight: bold

            .galerias
              width: 720px
              margin: 0 0 40px 0
              float: left

              .galeria
                width: 180px
                float: left

                .imagens
                  width: 180px
                  float: left

                  .imagem
                    width: 135px
                    height: 135px
                    border-radius: 100%
                    overflow: hidden
                    background: $azul
                    float: left

                    img
                      width: auto
                      height: 135px

                  .subimagem
                    width: 75px
                    height: 75px
                    position: relative
                    border: 7px solid $branco
                    margin: -80px 0 0 48px
                    border-radius: 100%
                    overflow: hidden
                    background: $cinzaDestaques
                    float: left

                    img
                      width: auto
                      height: 75px

                .imagens:first-child
                  margin: 0

                .titulo
                  margin: 5px 0 0 30px
                  float: left

                  a
                    text-decoration: none
                    font-size: 18px
                    color: $azulSubmenu

                  a:hover
                    text-decoration: underline

              .galeria:nth-child(2),
              .galeria:last-child
                .imagens
                  .subimagem
                    margin: -80px 0 0 25px

          .publicidade-fatos-e-fotos
            width: 720px
            height: 200px
            float: left

            a
              .publicidade
                width: 350px
                height: 200px
                margin: 0 20px 0 0
                background: $cinzaTituloMat
                float: left

            a:last-child
              .publicidade
                margin: 0

        .revista-e-jornal
          width: 210px
          margin: -66px 0 0 20px
          float: left

          .revista,
          .jornal,
            margin: 0 0 8px 0
            float: left

            .header
              font-size: 18px
              text-transform: uppercase
              color: $cinzaTituloBox
              margin: 15px 0 5px 0

              strong
                font-weight: bold

            .decoracao
              width: 210px
              margin: 0 0 10px 0
              float: left

              .linha-grossa
                width: 80px
                height: 3px
                background: $azul
                float: left

              .linha-fina
                width: 130px
                height: 1px
                margin: 1px 0 0 0
                background: $cinzaTituloMat
                float: left

            .issuu-embed
              width: 210px
              height: 230px
              background: $cinzaTituloMat
              float: left

      .outras-noticias
        width: $areaUtilLayout
        margin: 15px 0 20px 0
        padding: 0 25px 0 25px
        float: left

        .itens
          width: 720px
          margin: 0 20px 0 0
          float: left

          .destacadas
            width: 740px
            float: left

            .destaque
              width: 300px
              height: 350px
              margin: 0 20px 0 0
              float: left

              a
                text-decoration: none

                .noticia
                  width: 300px
                  height: 350px
                  float: left

                  .imagem
                    width: 300px
                    height: 350px
                    overflow: hidden
                    background: $azul

                    img
                      width: auto
                      height: 350px

                  .informacoes
                    position: relative
                    color: $branco
                    margin: -90px 0 0
                    z-index: 1

                    .marca
                      margin: 0 0 5px

                      span
                        text-transform: uppercase
                        font-size: 14px
                        width: auto
                        padding: 5px 5px 5px 15px
                        background: $azul

                    .titulo
                      overflow: hidden

                      h2
                        font-size: 20px
                        line-height: 25px
                        padding: 0 0 0 15px

                        span
                          padding: 3px 10px 5px 0
                          box-shadow: 15px 0 0 $cinzaDestaques, -15px 0 0 $cinzaDestaques
                          background: $cinzaDestaques

                .noticia:hover
                  .informacoes
                    .titulo
                      span
                        box-shadow: 15px 0 0 $cinzaDestCentral, -15px 0 0 $cinzaDestCentral
                        background: $cinzaDestCentral

          .outras
            width: 400px
            float: left

            a
              text-decoration: none

              .noticia
                width: 400px
                margin: 0 0 18px

                .imagem
                  width: 400px
                  height: 140px
                  overflow: hidden
                  background: $azul

                  img
                    width: 400px
                    height: auto

                .informacoes
                  position: relative
                  color: $branco
                  margin: -39px 0 0
                  z-index: 1

                  .marca
                    margin: 0 0 3px

                    span
                      text-transform: uppercase
                      font-size: 14px
                      width: auto
                      padding: 5px 5px 5px 15px
                      background: $azul

                  .titulo
                    overflow: hidden

                    h2
                      font-size: 18px
                      line-height: 20px
                      padding: 0 0 0 15px

                      span
                        padding: 0 10px 5px 0
                        box-shadow: 15px 0 0 $cinzaDestaques, -15px 0 0 $cinzaDestaques
                        background: $cinzaDestaques

              .noticia:hover
                .informacoes
                  .titulo
                    span
                      box-shadow: 15px 0 0 $cinzaDestCentral, -15px 0 0 $cinzaDestCentral
                      background: $cinzaDestCentral

            a:nth-child(2)
              .noticia
                width: 190px
                margin: 0 20px 0 0
                float: left

                .imagem
                  width: 190px
                  height: 193px

                .informacoes
                  margin: -79px 0 0

            a:nth-child(3)
              .publicidade
                width: 190px

                .imagem
                  width: 190px
                  height: 193px

                .informacoes
                  margin: -86px 0 0

            .publicidade
              float: left

              a
                .imagem
                  width: 190px
                  height: 193px
                  background: $cinzaTituloMat

          .tematicas
            .noticias
              width: 720px
              padding: 0
              float: left

              a
                text-decoration: none

                .noticia
                  width: 226px
                  margin: 0 20px 0 0
                  float: left

                  .header-noticia
                    .header
                      font-size: 18px
                      text-transform: uppercase
                      color: $cinzaTituloBox
                      margin: 15px 0 5px 0

                      strong
                        font-weight: bold

                    .decoracao
                      width: 226px
                      margin: 0 0 10px 0
                      float: left

                      .linha-grossa
                        width: 100px
                        height: 3px
                        background: $laranjaBrasil
                        float: left

                      .linha-fina
                        width: 126px
                        height: 1px
                        margin: 1px 0 0 0
                        background: $cinzaTituloMat
                        float: left

                  .imagem
                    width: 226px
                    height: 130px
                    overflow: hidden

                    img
                      width: 233px
                      height: auto

                  .informacoes
                    margin: 15px 0 0 0

                    .titulo
                      h2
                        font-size: 16px
                        color: $cinzaEscuroLateral

              a:nth-child(2)
                .noticia
                  .header-noticia
                    .decoracao
                      .linha-grossa
                        background: $verdeMeioAmb

              a:hover
                .informacoes
                  .titulo
                    h2
                      text-decoration: underline

              a:last-child
                .noticia
                  margin: 0

                  .header-noticia
                    .decoracao
                      .linha-grossa
                        background: $rosaTecnologia

        .publicidades-lateral
          width: 210px
          line-height: 9px
          float: left

          .header
            font-size: 14px
            text-transform: uppercase
            margin: 0 0 5px 0

          .publicidades
            .publicidade
              width: 210px
              height: 130px
              margin: 0 0 20px 0

              a
                .imagem
                  width: 210px
                  height: 130px
                  background: $cinzaTituloMat

      .strip-publicidade
        width: $areaUtilLayout
        float: left

        .publicidade
          margin: 0 20px 0 0
          float: left

          a
            .imagem
              width: 222.5px
              height: 200px
              background: $cinzaTituloMat

        .publicidade:last-child
          margin: 0

  footer
    width: 100%
    float: left

    .conteudo-rodape
      width: 100%
      background: $azulClaroRodape
      float: left

      .cabecalho-rodape
        width: $tamanhoLayout
        margin: 0 auto

        .conteudo
          width: 1000px
          margin: 30px 0 20px
          float: left

          .lateral
            width: 760px
            float: left

            .logotipo
              width: 100px
              height: 80px
              padding: 20px
              border-right: 2px solid $branco
              float: left

              a
                .logotipo-grupo-maua-e-regiao
                  background: url("../imagens/sprite.png") no-repeat -32px -5px
                  width: 75px
                  height: 77px

            .links
              width: 578px
              margin: 70px 0 0 40px
              float: left

              ul
                line-height: 30px

                li
                  a
                    color: $branco
                    text-decoration: none
                    text-transform: uppercase

                    strong
                      font-weight: bold

                  a:hover
                    text-decoration: underline

          .busca-rodape
            width: 240px
            margin: 80px 0 0 -25px
            float: left

            form
              input[type="text"]
                width: 235px
                height: 30px
                background: $azulClaroBusca
                border: 1px solid $azulClaroRodape
                padding: 5px 0 5px 5px
                color: $branco
                font: 20px $fontePadrao
                outline: 0
                float: left

              input[type="text"]:focus
                border: 1px solid $azulClaroBusca
                background: darken($azulClaroBusca, 3)

              input[type="submit"]
                width: 16px
                height: 16px
                background: url("../imagens/sprite.png") no-repeat 0 -223px
                border: 0
                outline: 0
                margin: 12px 0 0 -25px
                cursor: pointer

    .copyright-marcas
      width: 100%
      padding: 20px 0 20px
      border-top: 2px solid $azulClaroBusca
      background: $azulEscuroRodape
      float: left

      .conteudo-copyright-marcas
        width: $tamanhoLayout
        margin: 0 auto

        .copyright
          width: 499.5px
          height: auto
          color: $branco
          font-size: 18px
          line-height: 25px
          float: left

          strong
            font-weight: bold

        .marcas
          width: 499.5px
          height: auto
          float: left

          a
            section
              margin: 0 43px 0 0

          a:first-child
            section
              width: 71px
              height: 41px
              background: url("../imagens/sprite.png") no-repeat -300px -109px
              float: left

          a:nth-child(2)
            section
              width: 73px
              height: 41px
              background: url("../imagens/sprite.png") no-repeat -117px -23px
              float: left

          a:nth-child(3)
            section
              width: 105px
              height: 46px
              background: url("../imagens/sprite.png") no-repeat -185px -106px
              float: left

          a:last-child
            section
              width: 98px
              height: 41px
              margin-right: 0
              background: url("../imagens/sprite.png") no-repeat -5px -177px
              float: left
